<div class="content" role="main">

  <div class="card-container">
    <header>
      <h1>Angular + D3</h1>
    </header>
    <!-- <app-bar></app-bar> -->
    <!-- <app-pie></app-pie> -->
    <!-- <app-scatter></app-scatter> -->
    <!-- <app-responsive-path></app-responsive-path> -->
    <!-- <app-bar2></app-bar2> -->
    <!-- <app-repartition-ruban></app-repartition-ruban> -->
    <!-- <app-repartition-ruban-stack></app-repartition-ruban-stack> -->
    <!-- <app-arc-stack></app-arc-stack> -->
    <!-- <app-multiple-series></app-multiple-series> -->
    <app-pimp-chart></app-pimp-chart>
  </div>


</div>

<router-outlet></router-outlet>